<div class="col-md-8 offset-md-3">
  <h3>Добавить пользователя</h3>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Имя</label>
      <input type="text" class="form-control" id="first_name"
             [(ngModel)]="person.first_name" name="first_name">
    </div>

    <div class="form-group">
      <label>Фамилия</label>
      <input type="text" class="form-control" id="last_name"
             [(ngModel)]="person.last_name" name="last_name">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" id="email"
             [(ngModel)]="person.email" name="email">
    </div>

    <div class="form-group">
      <label>Пароль</label>
      <input type="text" class="form-control" id="password"
             [(ngModel)]="person.password" name="password">
    </div>

    <div class="form-group">
      <label>Роль</label>
      <input type="text" class="form-control" id="role"
             [(ngModel)]="person.role" name="role">
    </div>

    <div class="form-group">
      <label>Статус</label>
      <input type="text" class="form-control" id="status"
             [(ngModel)]="person.status" name="status">
    </div>

    <button class="btn btn-success" type="submit">Добавить</button>

  </form>
</div>
